.vs/*
Saved/*
Binaries/*
Build/*
Plugins/*
Intermediate/*
DerivedDataCache/*
Releases/*
Icons/*
.idea/*
Services/*
IOS/*
Android_ASTC/*

*_BuiltData.uasset
*.uproject
*.sln
*.vsconfig
*.xcworkspace
*DS_Store
Config/Android/*
IOS/*
